.game-container{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    
    width: 400px;
    height: 500px;

    box-shadow: 0 0 5px black;
    border-radius: 10px;


    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    overflow: hidden;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.header{
    margin: 0;background-color: gray;
}

.header h1{
    background-color: white;
    font-weight: bold;
    font-size: 2.2rem;
}

.game-info{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.game-info p {
    border: 2px solid gray;
    padding: 3px;
    border-radius: 8px;

}

.game-display{
    flex: 2;
    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
}



.game-display p {
    color: white;
    font-size: 2rem;

}

.game-player-choices{
    display: flex;
}

.game-player-choices button{
    flex: 1px;
    padding: 8px;

    font-size: 1.1rem;
    font-weight: bold;

    outline: none;
    border: none;
    cursor: pointer;

    transition: flex 0.5s;
}

.game-player-choices button:hover{
    background-color: gray;
    color: white;
    flex: 2;
}


.footer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: gray;

    color: white;
}

.footer a {
    color: black;
}

.footer a:hover{
    color: white;
}

